
/*Percentage / Pie chart*/
.size(@w, @h) {
  height: @h;
  width: @w;
}

.percentages-container *,
*:before,
*:after{
  box-sizing: border-box;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

@bg: #34495e;
@size: 95px;

.pie-wrapper {
  .size(@size, @size);
  float: left;
  margin: 11px;
  position: relative;

  .pie {
    .size(100%, 100%);
    clip: rect(0, @size, @size, @size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      .size(100%, 100%);
      border: 5px solid #3498db;
      border-radius: 50%;
      clip: rect(0, @size / 2, @size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    @font-size: 40px;
    @font-size-redo: @size * 4;
    @font-family-label: "Lato Light";

    
    background: @bg;
    border-radius: 50%;
    position: absolute;
    color: #ecf0f1;
    display: block;
    font-size: @font-size;
    font-family:@font-family-label;
    text-align: center;
    line-height: @font-size - 10px;
    left: @font-size-redo / 16;
    top: @font-size-redo / 12.5;
  }

  &.style-2 {
    .label {
      background: none;
      color: #9d9d9d;
    }
  }

  &.progress-38 {
    .draw-progress(38, #e75735);
  }
  &.progress-62 {
    .draw-progress(62, #e75735);
  }
  &.progress-89 {
    .draw-progress(89, #e75735);
  }

  &.progress-10 {
    .draw-progress(10, #e75735);  
  }
}

.progress-10 {
  .size(@size, @size);
  float: left;
  margin: 11px;
  position: relative; 
}
.draw-progress(@progress, @color) when (@progress <= 50) {
  .pie {
    .right-side {
      display: none;
    }
  }
}

.draw-progress(@progress, @color) when (@progress > 50) {
  .pie {
    clip: rect(auto, auto, auto, auto);

    .right-side {
      transform: rotate(180deg);
    }
  }
}

.draw-progress(@progress, @color) {
  .pie {
    .half-circle {
      border-color: @color;
    }

    .left-side {
      @rotate: @progress * 3.6;
      transform: rotate(~'@{rotate}deg');
    }
  }
}

/*Sliders*/

@width: 100%;
@max-w: 50%;

.sliders-container{
  display: inline-block;
  width: @width;
  padding: 0;
  position: relative;
  
  .left-slider{
    float:left;
    max-width:@max-w;
  }
  .right-slider{  
    float:right;
    max-width:@max-w;
    
  }
}

/*Stages*/

@fill: #888888;

.stages-container{
  display: inline-block;
  width: @width;
  padding: 0;
  position: relative;
  svg{
    width: @width;
  }
}

/*Form elements*/
.forms-container{
  width: @width;
  display: inline-block;
  padding: 0;
  position: relative;
  
  &.clear:after {
    content: "&nbsp;";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

  .left-form{
    display: inline-block;
    width: @max-w;
    height: 100%;
    float: left;

    .inner-rect{
      width: 208px;
      height: 28px;
      fill: #e5e5e5;
    }
    .inner-rect-large{
      width: 288px;
      height: 88px;
      fill: #e5e5e5;
    }
    .error{
      width: 72px;
      height: 28px;
      fill: #e75735;
    }
    .error-text, .thanks-text{
      fill: #ffffff;
      font-size: 10px; 
    }
    .thanks{
      width: 72px;
      height: 28px;
      fill: #4eb7a8;
    }
    .inner-data{
      font-size: 14px; 
      font-weight: bold;
      font-family: "SourceSansProRegular";
      fill: @fill;
    }
    .submit{
      display: block;
      width: 118px;
      height: 32px;
      fill: #4eb7a8;
    }
    .submit-after{
      display: block;
      position: relative;
      width: 118px;
      height: 3px;
      fill: #28a290;
    }
    .submit-text{
      fill: #ffffff;
      font-size: 12px; 
    }
  }
  .right-form{
   display: inline-block;
   width: @max-w;
   height: 100%;
   float: left;
   text-align: center;

   .toggles-containter{
    width: inherit;
    display: flex;
    margin: 0 auto;
    padding: 10px;
  }

  .on, .off{
    color: white;
    float: right;
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    margin-right: 6px;
    font-size: 14px;
  }
  
  .off-out-1{
    display: block;
    background: #4eb7a8;
    width: 59px;
    height: 24px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
  }
  
  & .indent{
    margin-right: 10px;
    margin-left:15px;
    background: #e5e5e5;
    
  }
  .off-circle{
    display: block;
    background: #ffffff;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 3px 0 0 3px;
  }
  
  & .tick{
    margin: 0 auto;
    width: 28px;
    height: 28px;
    background: #4eb7a8;
    
    i.check{
      color: #ffffff;
      position: relative;
      margin: 5px 0;
      text-align: center;
      font-size: 18px;
    }

  }

  & .tick2{
    background: #e5e5e5;
    color: #c0c0c0;
  }

  .tick-boxes-container{
    width: 90px;
  }  
}
}

@font-size-search: 14px;
@font-size-name: 18px;

.search-drop-container{

  color: black;
  width: 100%;
  height: auto;
  
  
  .search{
    width: 273px;
    height: 18px;
    background: #e5e5e5;
    color: #888888;
    font-family: "SourceSansProRegular";
    font-size: @font-size-search;
    padding: 5px 0 5px 15px;
    margin-bottom:18px;

    .right-side-drop{
      float: right;
      display: block;
      position: relative;
      width: 33px;
      height: 28px;
      margin: -5px 0 0 0;

      background: #4eb7a8;
      i{
        color: white;
        font-size: @font-size-search *1.7;
        float: right;
        margin: 2px 8px 0 0;
      } 
      .search-icon{
       font-size: @font-size-search * 1.1;
       margin: 6px 8px 0 0;
     }
     &.red{
      background: #e75735;
    }
  }
}
.not-found{
  background: #e75735;
  color: #ffffff;
}
}

.user-profile-container{
  width: 100%;
  height: auto;
  .user-profile{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    .user-avatar{
      display: inline-block;
      width: 30%;
      height: 93px;
      border: 4px solid #e5e5e5;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      .profile-img{
        width: 100%;
        height: 100%;
      }
    }
    .profile-triangle{
      display: inline-block;
      margin: 0 -9px 45px 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6.5px 6px 6.5px 0;
      border-color: transparent #e5e5e5 transparent transparent;
    }

    .white-triangle{
      border-color: transparent #4eb7a8 transparent transparent;
    }
    .user-about{
      display: inline-block;
      width: 60%;
      float: right;
      height: 93px;
      background: #e5e5e5;
      -webkit-border-radius: 10px;
      border-radius: 10px;

      h2{
        position: relative;
        text-align: center;
        font-size: @font-size-name;
        color: #e75735;
        font-family:"Lato Regular";
        margin:8px auto 5px;
      }
      .user-about-proffesion{
        position: relative;
        text-align: center;
        font-size: @font-size-name - 7px;
        color: #818181;
        margin:0 auto 8px;
      }
      .user-about-links{
        font-size: @font-size-name - 6px;
        text-align: center;
        color: #757575;      

        i{
          margin: auto 10px auto;
        }
        i.twitter{
         color: #e75735; 
       }
       .ball-icon{
        margin-left: 5px;
      }
    }
  }

  .user-about-sarah{
    display: inline-block;
    width: 60%;
    float: right;
    height: 93px;
    background: #4eb7a8;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff !important;

    h2{
      position: relative;
      text-align: center;
      font-size: @font-size-name;
      font-family:"Lato Regular";
      margin:8px auto 5px;
    }
    .user-about-proffesion{
      position: relative;
      text-align: center;
      font-size: @font-size-name - 7px;
      margin:0 auto 8px;
    }
    .user-about-links{
      font-size: @font-size-name - 6px;
      text-align: center;    

      i{
        margin: auto 10px auto;
      }
      .ball-icon{
        margin-left: 5px;
      }
    }
  }
}
}

@font-size-news: 28px;
@color-news: #ffffff;
@line-height-news: 1em;
.news-container{
  width: 100%;
  height: auto;
  margin-bottom: 70px;
  padding: 0;
  .news-left{
    width: @max-w;
    height: auto;
    display: inline-block;

    
    .downhill{
      width: 288px;
      height: 212px;
      float: left;
      background-image: url('http://www.mtb-downhill.net/wp-content/uploads/2015/08/uci-val-di-sole-2015-qualis-stevie-smith.jpg');
      background-repeat: no-repeat;
      background-position: 22% 1%;
      -webkit-border-radius: 3px;
      border-radius:  3px;
      
      .downhill-about{
        width: 193px;
        height: 212px;
        background: #e75735;
        float: right;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius:  0 3px 3px 0;
        .downhill-content{
          width: 90%;
          height: 100%;
          padding: 20px;
          text-align: left;
          color:@color-news;

          .downhill-header{
            font-family:"Lato Light";
            font-size:@font-size-news;
            line-height: @line-height-news;
            margin-bottom: 10px;
          }
          b{
            font-family:"Lato Black";
            font-size:@font-size-news - 17px;
          }
          .downhill-text{
            margin-top: 10px;
            font-family:"Lato Regular";
            font-size:@font-size-news - 17px;
            line-height: @line-height-news + 0.3em;
          }
        }
        
      }
    }

  }
  .news-right{
    width: @max-w;
    height: auto;
    display: inline-block;

    .calendar{
     width: 288px;
     height: 212px;
     float: right;
     position: relative;
     background: url("http://images.independenttraveler.com/homepage/newyorkbig.jpg");
     background-repeat: no-repeat;
     background-position: 42% 40%;
     -webkit-border-radius: 3px;
     border-radius:  3px;
     .calendar-about{
      width: 193px;
      height: 212px;
      background: #4eb7a8;
      float: right;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius:  0 3px 3px 0;
      .calendar-content{
        width: 90%;
        height: 100%;
        padding: 35px 25px 10px;
        text-align: left;
        color:@color-news;

        .calendar-header{
          font-family:"Lato Light";
          font-size:@font-size-news;
          line-height: @line-height-news;
          margin-bottom: 20px;
          span{
            font-size:@font-size-news + 45px;
          }
        }
        h2{
          font-family:"Lato Black";
          font-size:@font-size-news - 15.5px;
        }
        .calendar-text{
          margin: 10px auto;
          font-family:"Lato Regular";
          font-size:@font-size-news - 17px;
          line-height: @line-height-news + 0.3em;
        }
        .add-calendar{
          width: 128px;
          height: 22px;
          line-height: 22px;
          display: inline-block;
          text-align: center;
          background: @color-news;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          color: #43ac9d;
          font-family:"Lato Black";
          font-size: @font-size-news - 18px;
        }
        .add-calendar:after{
          content: "";
          display: block;
          background: #379285;
          width: 128px;
          height: 3px;
          -webkit-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
        }
      }

    }
  }
}
}

@font-size-area-message: 30px;
@font-size-area-coordinates: 12.5px;
@font-size-area-target: 30px;
@color-text-location: #ffffff;
.location-container{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  padding: 0;
  .location-area{
    width: 100%;
    height: 272px;
    display: block;
    position: relative;
    padding-bottom: 69px;
    background: url("http://www.harvard.edu/sites/default/files/content/harvard-map-google.jpg") no-repeat;
    background-position: 50% 50%;
    
    .area-info{
      width: inherit;
      height: 69px;
      position: absolute;
      bottom: 0;
      background: #e75735;
      display: block;
      .area-message{
        width: 159px;
        height: 69px;
        line-height: 69px;
        display: inline-block;
        position: relative;
        font-size: @font-size-area-message;
        font-family: "Lato Light";
        color: @color-text-location;
        margin-left: 30px;
      }
      .area-coordinates{
        width: 160px;
        height: 30px;
        display: inline-block;
        position: relative;
        font-size: @font-size-area-coordinates;
        color: @color-text-location;
        font-family: "Lato Black";
      }
      .area-target, .area-marker{
        width: 55px;
        height: 69px;
        line-height: 69px;
        display: inline-block;
        position: relative;
        float: right;
        .target, .marker{
          font-size: @font-size-area-target;
          color: @color-text-location;
          line-height: 69px;
        }
      }
    }
  }
}


@color-calendar: #e75735;
@color-message: #4eb7a8;
@font-today: 80px;
@font-month: 24px;
.calendar-msg-container{
  width: 100%;
  height: 15%;
  margin-bottom: 50px;
  padding: 0;

  .calendar{
    max-width: @max-w;
    display: inline-block;
    float: left;
    height: 100%;
    
    .calendar-wrapper{
      width: 279px;
      height: 429px;
      background: @color-calendar;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      .current-day{
        color: @color-news;
        font-size: @font-today;
        font-family: "Lato Light";
        text-align: center;
        width: 100%;
        height: 109px;
        line-height: 109px;
      }
      .current-month{
       color: @color-news;
       font-size: @font-month;
       font-family: "Lato Light";
       text-align: center;
       background: #d54c2c;
       width: 100%;
       height: 43px;
       line-height: 43px;
       .current-month-angle-left{
        font-size: @font-month;
        float: left;
        line-height: 43px;
        margin-left:15px;
      }
      .current-month-angle-right{
       float: right; 
       line-height: 43px;
       font-size: @font-month;
       margin-right: 15px;
     }
   }
   .week{
    width: 100%;
    height: 27px;
    li{
      font-family:"Lato Black";
      text-align: center;
      font-size: 9px;
      line-height: 9px;
      display: inline-block;
      color: #fff;
      margin: 11px 10px 9px 11px;
    }
  }
  .numbers-container{
    padding: 0;
    width: 100%;
    height: 202px;
    background: #FFF;
    display: table;
    list-style: none;
    border-spacing: 1px;
    ul.first-week,
    .second-week,
    .third-week,
    .fourth-week,
    .fifth-week,{  
      display: table-row;   
      li{
        width: 14.285%;
        display: table-cell;
        text-align: center;
        font-family: "SourceSansProRegular";
        font-size: 20px;
        color: #868686;
        background: #f2f2f2;
        padding-top: 5px;
      }
    }
    ul.first-week{
      li:first-child,
      li:nth-child(2),
      li:nth-child(3){
        color: #ffffff;
      }
    }
    ul.fourth-week{
      li:nth-child(6){
        background: #e75735;
        color: #ffffff;
      }
    }
    ul.fifth-week{
      li:last-child,
      li:nth-child(6){
        color: #ffffff;
      }
    }
  }

  .today{
    width: 100%;
    height: 49px;
    background: #e5e5e5;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    color:#a9a9a9;
    font-size: 13px;
    font-family:"Lato Black";
    line-height: 49px;
    span{
      margin-left: 20px;
    }  
  }

  }}


  .message{
    max-width: @max-w;
    display: inline-block;
    float: right;

    .message-wrapper{
      width: 288px;
      height: 429px;
      background: #f2f2f2;

      .massage-username{
        width: 100%;
        height: 82px;
        line-height: 82px;
        background: @color-message;
        text-align: center;
        color: #ffffff;
        font-size: 34px;
        font-family: "SourceSansProLight";
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0 ;
      }
      .massage-username:after{
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: 35px;
        background: #46ab9d;
      }

      .message-user-info-wrapper{
        width: 84%;
        height: 313px;
        display: block;
        background: #f2f2f2;
        margin: 35px auto 0;

        .message-user-icons{
          width: 100%;
          height: 64px;
          display: block;
          position: relative;
          i{
            font-size: 25px;
            color: #8e8d8d;
            margin: 24px 0;  
            &.msg-comment{
              float: left;
            } 
            &.msg-camera{
              float: right;
            } 
          }
          .message-user-avatar{
            margin: auto;
            position: absolute;
            width: 84px;
            height: 84px;
            bottom: 20px;
            left: 70px;
            display: -webkit-inline-box;
            border-radius: 50%;
            border: 4px solid #e5e5e5;
            img.message-profile-img{
              width: 100%;
              height: 100%;
            }
          }
        }

        .msg-question{
          width: 100%;
          height: 72px;
          background: #FFF;
          display: table;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          span{
            padding-left:5px ;
            text-align: left;
            display:table-cell;
            vertical-align: middle;
            font-size: 12.5px;
            font-family:"Lato Black";
            color: #868686;
          }
        }
        .msg-question:before{
          content: "";
          display: block;
          position: relative;
          left: 110px;
          bottom: 6px;
          border-style: solid;
          border-width: 0 6.5px 6px 6.5px;
          border-color: transparent transparent #ffffff transparent;
        }
        .msg-answer{
          margin: 17px auto;
          width: 238px;
          height: 82px;
          display: table;
          background: #e5e5e5;
          border: 3px solid #ffffff;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          span{
            padding-left:13px ;
            text-align: left;
            display:table-cell;
            vertical-align: middle;
            font-size: 12.5px;
            font-family:"Lato Black";
            color: #868686;
          }
        }
        .reply-button{
          width: 100%;
          height: 32px;
          display: block;
          background: #4eb7a8;
          color: #ffffff;
          text-align: center;
          line-height: 32px;
          font-size: 12px;
          font-family:"Lato Black";
          -webkit-border-radius:5px 5px 0 0 ;
          border-radius:5px 5px 0 0 ;
        }
        .reply-button:after{
          content: "";
          display: block;
          position: relative;
          background: #28a290;
          width: 100%;
          height: 3px;
          -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
}


.video-container{
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 0;
  margin-bottom: 60px;
  
  .video{
    width: 100%;
    height: 336px;
    background: url(https://i1.ytimg.com/vi/rPmGtZAUxNs/maxresdefault.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 48px;
    display: block;
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    .video-handler-panel{
      width: 100%;
      height: 48px;
      display: block;
      position: absolute;
      background: transparent;
      bottom:0;
      .play-button{
        margin: 18px 25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6.5px 0 6.5px 9px;
        border-color: transparent transparent transparent #ffffff;
      }
      .video-scorebar{
        width: 500px;
        height: 5px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        bottom: 21px;
        left: 60px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        .video-scorebar-inner{
          width: 190px;
          height: 5px;
          background-color: #e75735;
          position: relative;
          -webkit-border-radius: 2px;
          border-radius: 2px;
        }
      }
      .resize-button{
        width: 48px;
        height: 100%;
        background: #e75735;
        display: table;
        position: relative;
        bottom: 48px;
        float: right;
        -webkit-border-radius: 0 0 3px;
        border-radius: 0 0 3px;
        i{
          color: #fff;
          font-size: 20px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}
